/*☱☲☴☲☱☲☴☲☱☲☴☲☱☲☴☲☱☲☴☲☱☲☴☲☱☲☴☲☱☲☴☲
Variables
☱☲☴☲☱☲☴☲☱☲☴☲☱☲☴☲☱☲☴☲☱☲☴☲☱☲☴☲☱☲☴☲*/

// Colors
$white: #ffffff;
$main: #2e0638;

//Fonts
$sans: 'Roboto', Helvetica, Arial, sans-serif;
$serif: 'Merriweather',serif;

//Misc
$transition: all .2s ease-in-out;
