html, body {height: 100%;}

body {
    text-align: center;
    color: white;
    background: #2e0638;
    font-family: system, -apple-system,
      ".SFNSDisplay-Regular", "Helvetica Neue", "Lucida Grande", sans-serif;
}

h1 {margin: 0; padding: 20px 0 0; font-weight: 900; text-transform: uppercase;}
h2 {font-weight: 400; margin: 0 0 20px;}
