html, body {
    height: 100%;
    }

body {
    color: white;
    background: #2e0638;
    }

.container {
    height: 100%;
    text-align: center;

    &:before {
        height: 100%;
        content: ' ';
        display: inline-block;
        vertical-align: middle;
    }
}

#crackpot {
//     width: 100%;
    width: 280px;
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    margin-top: -40px;
}
